@{
    this.ViewData["Title"] = "Chat";
}

<div id="chatCard" class="card h-100 border-primary bg-light text-dark col-lg-10 offset-lg-1 mt-4">
    <div class="card-body">
        <div>
            <div id="cardHeader" class="border-bottom border-secondary mb-3 row">
                <div class="col-4">
                    <h4 class="card-title"><strong>Chat</strong></h4>
                </div>
                <div class="col-8 text-right">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                        <label class="custom-control-label" for="customSwitch1"><strong>Dark theme</strong></label>
                    </div>
                </div>
            </div>
            <div id="messagesList" class="overflow-auto p-lg-2 pb-2 pt-2">
            </div>
            <div class="row col-12 mt-3">
                <textarea id="messageInput" class="form-control col-lg-11 p-3" style="max-height: 300px"></textarea>
                <div class="col-lg-1 mt-lg-0 mt-2 text-center">
                    <button id="sendButton" class="btn btn-primary ml-lg-2"><i class="far fa-paper-plane fa-2x"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var connection =
            new signalR.HubConnectionBuilder()
                .withUrl("/chat")
                .build();

        connection.on("NewMessage",
            function (message) {
                var sw = $('#customSwitch1');
                var timeBadge = 'badge-light';
                var messageBadge = 'badge-success';

                if (sw.is(':checked')) {
                    timeBadge = 'badge-dark';
                    messageBadge = 'badge-light';
                }

                var chatText = `<div class="col-12 mt-2"><div id="timeBadge" class="font-weight-light badge ${timeBadge} col-12"><div class="float-center">${new Date().toLocaleString()}</div><div id="userBadge" class="text-left">${message.user}</div></div><div id="messageBadge" class="badge ${messageBadge} text-wrap text-break text-left p-2">${escapeHtml(message.text)}</div></div>`;

                appendText(chatText);
            });

        $("#sendButton").click(function () {
            var message = $("#messageInput").val();

            var timeBadge = 'badge-light';
            var messageBadge = 'badge-primary';

            var sw = $('#customSwitch1');
            if (sw.is(':checked')) {
                timeBadge = 'badge-dark';
                messageBadge = 'badge-warning';
            }
            var chatText = `<div class="col-12 mt-2 text-right"><div id="timeBadge" class="font-weight-light badge ${timeBadge} col-12">${new Date().toLocaleString()}</div><div id="myMessageBadge" class="badge ${messageBadge} text-wrap text-break text-right p-2">${escapeHtml(message)}</div></div>`;

            if (message.length != 0 && mess.length <= 10000) {
                appendText(chatText);
                connection.invoke("Send", message);
            }
            $("#messageInput").val("");
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }

        function appendText(text) {
            $("#messagesList").append(text);
            scrollSmoothToBottom('messagesList');
        }

        function scrollSmoothToBottom(id) {
            var div = document.getElementById(id);
            $('#' + id).animate({
                scrollTop: div.scrollHeight - div.clientHeight
            }, 500);
        }

        $('#customSwitch1').change(function () {
            var sw = $('#customSwitch1');

            if (sw.is(':checked')) {
                $('#chatCard').attr('class', $('#chatCard').attr('class').replace('bg-light', 'bg-dark'));
                $('#cardHeader').attr('class', $('#cardHeader').attr('class').replace('border-secondary', 'border-light'));
                $('#chatCard').attr('class', $('#chatCard').attr('class').replace('text-dark', 'text-light'));
                $('#sendButton').attr('class', $('#sendButton').attr('class').replace('btn-primary', 'btn-outline-light'));

                $('*[id*=timeBadge]').each(function (i, el) {
                    $(el).attr('class', $(el).attr('class').replace('badge-light', 'badge-dark'));
                });

                $('*[id*=userBadge]').each(function (i, el) {
                    $(el).attr('class', $(el).attr('class').replace('badge-light', 'badge-dark'));
                });

                $('*[id*=messageBadge]').each(function (i, el) {
                    $(el).attr('class', $(el).attr('class').replace('badge-success', 'badge-light'));
                });

                $('*[id*=myMessageBadge]').each(function (i, el) {
                    $(el).attr('class', $(el).attr('class').replace('badge-primary', 'badge-warning'));
                });
            }
            else {
                $('#chatCard').attr('class', $('#chatCard').attr('class').replace('bg-dark', 'bg-light'));
                $('#cardHeader').attr('class', $('#cardHeader').attr('class').replace('border-light', 'border-secondary'));
                $('#chatCard').attr('class', $('#chatCard').attr('class').replace('text-light', 'text-dark'));
                $('#sendButton').attr('class', $('#sendButton').attr('class').replace('btn-outline-light', 'btn-primary'));

                $('*[id*=timeBadge]').each(function (i, el) {
                    $(el).attr('class', $(el).attr('class').replace('badge-dark', 'badge-light'));
                });

                $('*[id*=userBadge]').each(function (i, el) {
                    $(el).attr('class', $(el).attr('class').replace('badge-dark', 'badge-light'));
                });

                $('*[id*=messageBadge]').each(function (i, el) {
                    $(el).attr('class', $(el).attr('class').replace('badge-light', 'badge-success'));
                });

                $('*[id*=myMessageBadge]').each(function (i, el) {
                    $(el).attr('class', $(el).attr('class').replace('badge-warning', 'badge-primary'));
                });
            }
        });
    </script>
}