@{
    this.ViewData["Title"] = "Privacy Policy for BoulderBox";
}

<h2>@this.ViewData["Title"]</h2>

<p class="text-wrap mt-3">
    At BoulderBox one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by BoulderBox and how we use it.
    If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.
    This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in BoulderBox. This policy is not applicable to any information collected offline or via channels other than this website.
</p>

<h4 class="mt-3">Consent</h4>

<p class="text-wrap mt-3">
    By using our website, you hereby consent to our Privacy Policy and agree to its terms.
</p>

<h4 class="mt-3">Information we collect</h4>

<p class="text-wrap mt-3">
    The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.
    If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.
    When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.
</p>

<h4 class="mt-3">How we use your information</h4>

<p class="text-wrap mt-3">
    We use the information we collect in various ways, including to:
</p>

<ul class="list-group">
    <li class="list-group-item list-group-item-success">Provide, operate, and maintain our webste</li>
    <li class="list-group-item">Improve, personalize, and expand our webste</li>
    <li class="list-group-item list-group-item-success">Understand and analyze how you use our webste</li>
    <li class="list-group-item">Develop new products, services, features, and functionality</li>
    <li class="list-group-item list-group-item-success">Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the webste, and for marketing and promotional purposes</li>
    <li class="list-group-item">Send you emails</li>
    <li class="list-group-item list-group-item-success">Find and prevent fraud</li>
</ul>

<h4 class="mt-3">Log Files</h4>

<p class="text-wrap mt-3">
    BoulderBox follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.
</p>

<h4>Cookies and Web Beacons</h4>

<p class="text-wrap mt-3">
    Like any other website, BoulderBox uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.
</p>

<h4 class="mt-3">GDPR Data Protection Rights</h4>

<p class="text-wrap mt-3">
    We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
</p>

<ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-success">The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</li>
    <li class="list-group-item">The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</li>
    <li class="list-group-item list-group-item-success">The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</li>
    <li class="list-group-item">The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</li>
    <li class="list-group-item list-group-item-success">The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</li>
    <li class="list-group-item">The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
    <li class="list-group-item list-group-item-success">If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</li>
    <li class="list-group-item">If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</li>
</ul>