@model BoulderBox.Web.ViewModels.Boulders.Boulders.BoulderEditViewModel
@{
    ViewData["Title"] = "Edit Boulder";
}

<div class="row ml-2">
    <h2>@ViewData["Title"]</h2>
    <form asp-area="Administration" asp-controller="Boulders" asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="btn btn-outline-danger ml-3 mt-1 mb-1">Delete</button>
    </form>
</div>
<hr class="bg-secondary" />

<form asp-area="Administration" asp-controller="Boulders" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-group">
        <label asp-for="BoulderInput.Name" class="col-form-label"></label>
        <input asp-for="BoulderInput.Name" class="form-control" placeholder="Boulder name" />
        <span asp-validation-for="BoulderInput.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label">Country *</label>
        <select asp-for="BoulderInput.CountryId" onchange="fillCitySelect()" id="countrySelect" asp-items="Model.BoulderInput.CountriesSelectItems" class="form-control"></select>
        <span asp-validation-for="BoulderInput.CountryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label">City *</label>
        <select asp-for="BoulderInput.CityId" asp-items="Model.BoulderInput.CitiesSelectItems" onchange="fillGymSelect()" id="citySelect" class="form-control"></select>
        <span asp-validation-for="BoulderInput.CityId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BoulderInput.GymId" class="col-form-label"></label>
        <select asp-for="BoulderInput.GymId" asp-items="Model.BoulderInput.GymsSelectItems" id="gymSelect" class="form-control"></select>
        <span asp-validation-for="BoulderInput.GymId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BoulderInput.GradeId" class="col-form-label"></label>
        <select asp-for="BoulderInput.GradeId" asp-items="Model.BoulderInput.GradesSelectItems" class="form-control"></select>
        <span asp-validation-for="BoulderInput.GradeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BoulderInput.Description" class="col-form-label"></label>
        <textarea asp-for="BoulderInput.Description" class="form-control" placeholder="Short description of the boulder..."></textarea>
        <span asp-validation-for="BoulderInput.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label">Image</label>
        <input type="file" name="BoulderInput.FormFile" class="form-control-file" />
    </div>
    <p>* Required</p>
    <button type="submit" class="btn btn-success">Save</button>
</form>

@section Scripts {
    <script>
        function fillCitySelect() {

            let xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {

                    document.getElementById("citySelect").innerHTML = '';
                    document.getElementById("gymSelect").innerHTML = '';

                    var cities = JSON.parse(this.responseText);

                    for (var i = 0; i < cities.length; i++) {
                        var city = cities[i];

                        document.getElementById("citySelect").innerHTML += '<option value="' + city.id + '">' + city.name + '</option>';
                    }

                    fillGymSelect();
                }
            };

            var yourSelect = document.getElementById("countrySelect");
            var countryId = yourSelect.options[yourSelect.selectedIndex].value;

            xhttp.open("GET", "/api/Cities?countryId=" + countryId + "&withGyms=true", true);
            xhttp.send();
        }

        function fillGymSelect() {

            let xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {

                    document.getElementById("gymSelect").innerHTML = '';

                    var gyms = JSON.parse(this.responseText);

                    for (var i = 0; i < gyms.length; i++) {
                        var gym = gyms[i];

                        document.getElementById("gymSelect").innerHTML += '<option value="' + gym.id + '">' + gym.name + '</option>';
                    }
                }
            };

            var yourSelect = document.getElementById("citySelect");
            var gymId = yourSelect.options[yourSelect.selectedIndex].value

            xhttp.open("GET", "/api/Gyms?cityId=" + gymId, true);
            xhttp.send();
        }
    </script>
}
