@model BoulderBox.Web.ViewModels.Boulders.Boulders.BoulderInputModel
@{
    ViewData["Title"] = "Create Boulder";
}

<div class="row ml-2">
    <h2>@ViewData["Title"]</h2>
</div>
<hr class="bg-secondary" />

<form asp-area="Boulders" asp-controller="Boulders" asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" placeholder="Boulder name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label">Country *</label>
        <select onchange="fillCitySelect()" id="countrySelect" asp-for="CountryId" asp-items="Model.CountriesSelectItems" class="form-control">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label class="col-form-label">City *</label>
        <select onchange="fillGymSelect()" id="citySelect" class="form-control" asp-for="CityId">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="GymId" class="col-form-label"></label>
        <select asp-for="GymId" id="gymSelect" class="form-control"></select>
        <span asp-validation-for="GymId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GradeId" class="col-form-label"></label>
        <select asp-for="GradeId" asp-items="Model.GradesSelectItems" class="form-control"></select>
        <span asp-validation-for="GradeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-form-label"></label>
        <textarea asp-for="Description" class="form-control" placeholder="Short description of the boulder..."></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label"></label>
        <input type="file" asp-for="FormFile" class="form-control-file" />
    </div>
    <p>* Required</p>
    <button type="submit" class="btn btn-success">Create</button>
</form>

@section Scripts {
    <script>
        function fillCitySelect() {

            let xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {

                    document.getElementById("citySelect").innerHTML = '';
                    document.getElementById("gymSelect").innerHTML = '';

                    var cities = JSON.parse(this.responseText);

                    for (var i = 0; i < cities.length; i++) {
                        var city = cities[i];

                        document.getElementById("citySelect").innerHTML += '<option value="' + city.id + '">' + city.name + '</option>';
                    }

                    fillGymSelect();
                }
            };

            var yourSelect = document.getElementById("countrySelect");
            var countryId = yourSelect.options[yourSelect.selectedIndex].value;

            xhttp.open("GET", "/api/Cities?countryId=" + countryId + "&withGyms=true", true);
            xhttp.send();
        }

        function fillGymSelect() {

            let xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {

                    document.getElementById("gymSelect").innerHTML = '';

                    var gyms = JSON.parse(this.responseText);

                    for (var i = 0; i < gyms.length; i++) {
                        var gym = gyms[i];

                        document.getElementById("gymSelect").innerHTML += '<option value="' + gym.id + '">' + gym.name + '</option>';
                    }
                }
            };

            var yourSelect = document.getElementById("citySelect");
            var gymId = yourSelect.options[yourSelect.selectedIndex].value

            xhttp.open("GET", "/api/Gyms?cityId=" + gymId, true);
            xhttp.send();
        }
    </script>
}
