@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = this.Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show text-center p-2" role="alert">
        <div class="row col-12 m-0 justify-content-center text-center">
            <p class="m-0">We use cookies to understand how you use our site and to improve your experience.</p>
            <a asp-area="" asp-controller="Home" asp-action="Privacy" class="btn mr-1 ml-lg-2 p-0 text-primary">Learn More</a>
            <button type="button" class="accept-policy btn ml-1 text-primary p-0" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                <span aria-hidden="true">Accept</span>
            </button>
        </div>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function () {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}
