@using BoulderBox.Common
@using BoulderBox.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (this.SignInManager.IsSignedIn(this.User))
{
    if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <div class="text-xl-center col-10 p-0">
            <a class="btn btn-outline-primary m-1" href="/hangfire">Hangfire</a>
        </div>
    }

    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="btn btn-outline-success m-1">Profile</a>

    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
        <button type="submit" class="btn btn-outline-primary m-1">Logout</button>
    </form>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-success m-1">Login</a>
    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline-primary m-1">Register</a>
}

