@model BoulderBox.Web.ViewModels.Places.Cities.CityEditViewModel

@{
    ViewData["Title"] = "Edit City";
}

<div class="row ml-2">
    <div class="row">
        <h2>@ViewData["Title"]</h2>
        <form asp-area="Administration" asp-controller="Cities" asp-action="Delete" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="btn btn-danger ml-3 mt-1 mb-1">Delete</button>
        </form>
    </div>
</div>
<hr class="bg-secondary" />

<form asp-area="Administration" asp-controller="Cities" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CityInput.Name" class="col-form-label"></label>
        <input asp-for="CityInput.Name" class="form-control" placeholder="City name" />
        <span asp-validation-for="CityInput.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CityInput.CountryId" class="col-form-label"></label>
        <select asp-for="CityInput.CountryId" asp-items="Model.CityInput.CountriesSelectListItems" class="form-control"></select>
        <span asp-validation-for="CityInput.CountryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CityInput.Description" class="col-form-label"></label>
        <textarea asp-for="CityInput.Description" class="form-control" placeholder="Short description of the city..."></textarea>
        <span asp-validation-for="CityInput.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label">Picture</label>
        <input type="file" name="formFile" class="form-control-file" />
    </div>
    <p>* Required</p>
    <button type="submit" class="btn btn-success">Save</button>
</form>

