@model BoulderBox.Web.ViewModels.Forum.Comments.CommentEditModel

@{
    ViewData["Title"] = "Edit Comment";
}

<div class="row ml-2">
    <h2>@ViewData["Title"]</h2>
    <form asp-area="Administration" asp-controller="Comments" asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="postId" value="@Model.CommentInput.PostId" />
        <button type="submit" class="btn btn-outline-danger ml-3 mt-1 mb-1">Delete</button>
    </form>
</div>
<hr class="bg-secondary mb-3" />

<form asp-area="Administration" asp-controller="Comments" asp-action="Edit" method="post">
    <input asp-for="CommentInput.PostId" name="PostId" value="@Model.CommentInput.PostId" type="hidden" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CommentInput.Text" class="col-form-label"></label>
        <textarea asp-for="CommentInput.Text" name="Text" class="form-control"></textarea>
        <span asp-validation-for="CommentInput.Text" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>