@model BoulderBox.Web.ViewModels.Forum.Posts.PostInputModel

@{
    ViewData["Title"] = "Create Post";
}

<div class="row ml-2">
    <h2>@ViewData["Title"]</h2>
</div>
<hr class="bg-secondary" />

<form  asp-area="Forum" asp-controller="Posts" asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="CategoryId" value="@Model.CategoryId" type="hidden">
    </div>
    <div class="form-group">
        <label asp-for="Title" class="col-form-label"></label>
        <input asp-for="Title" class="form-control" placeholder="Title of the post" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Text" class="col-form-label"></label>
        <textarea asp-for="Text" class="form-control" placeholder="Post's text goes here"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FormFile" class="col-form-label"></label>
        <input type="file" asp-for="FormFile" class="form-control-file" />
    </div>
    <button type="submit" class="btn btn-success">Create</button>
</form>
