@model BoulderBox.Web.ViewModels.Countries.CountryInputModel;

@{
    ViewData["Title"] = "Create Country";
}

<div class="offset-md-3 col-md-6">
    <form asp-controller="Countries" asp-action="Create" method="post" enctype="multipart/form-data">
        <br />
        <h1>Create Country</h1>
        <hr class="bg-secondary" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CountryCode" class="col-form-label"></label>
            <input asp-for="CountryCode" class="form-control" />
            <span asp-validation-for="CountryCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-form-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="col-form-label">Picture</label>
            <input type="file" name="formFile" class="form-control" />
        </div>
        <button type="submit" class="btn btn-dark">Create</button>
    </form>
</div>
