@model BoulderBox.Web.ViewModels.Countries.CountryViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="offset-md-3 col-md-6">
    <h1>details</h1>
    <h1>@Model.Id @Model.Name</h1>
</div>

